<!-- views/repos.hbs -->
<a href="https://github.com/DacioRomero?tab=repositories"><h1>GitHub Repositories</h1></a>
<div class="row">
    {{#each repos}}
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card h-100">
            <div class="card-body mb-0">
                <a href={{this.html_url}}><h2 class="card-title">{{replace this.name '-' ' '}}</h2></a>
                <h6 class="card-subtitle text-muted">Last updated <time class="lastupdated" datetime="{{this.updated_at}}">{{fromNow this.updated_at}}</time></h6>
                <p class="card-text">{{#if this.description}}{{this.description}}</br>{{/if}}
                    {{#if this.language}}Written in {{this.language}}<br/>{{/if}}
                    {{#if this.license}}Licensed under {{this.license.name}}{{/if}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
